body {
  margin: 0;
}

html {
  font-size: 16px;  
}

a {  
  margin-left: 1rem;
  padding: 1.25rem;  
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover {
  background-color: rgba(59, 155, 211, 0.2);
}

.linkies {
  padding-top: 1.2rem;
}

.buttons {
  margin-right: 20px;
  border-radius: 0;
  animation: colorPulse 5s infinite ease-in-out;
}

.buttons:hover {
  background-color: rgba(59, 155, 211, 0.2);
}

.centerButton {
  margin-left: 35%;
  margin-top: 5%;
}

.contentShape {
  position: absolute;
  top: 15rem;
  left: 15rem;
  height: 60vh;
  width: 70vw;
  border: 5px solid transparent;
  animation: colorPulse 5s infinite ease-in-out, contentShapeExpand 1s ease-out 0s 1;
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 15%);
}

.contentShapeMobile {
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 5px solid transparent;
  animation: colorPulse 5s infinite ease-in-out, contentShapeExpand 1s ease-out 0s 1;
  clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 15%);
}

.pageHeader {
  margin-top: 1.2rem;
  margin-left: 4rem;
  width: 10vw;
  border-bottom: 2px solid transparent;
  animation: colorPulse 5s infinite ease-in-out;
}

.pageHeaderMobile {
  margin-top: 1.2rem;
  margin-left: 4rem;
  width: 40vw;
  border-bottom: 2px solid transparent;
  animation: colorPulse 5s infinite ease-in-out;
}

.projectSelection {
  margin-left: 4vw;
}

.pageContent {
  padding-right: 3vw;
  margin-top: 1rem;
  margin-left: 4vw;
  margin-right: 4vw;
  height: 48vh;
  overflow-y: auto;
}

.pageContentMobile {
  padding-right: 3vw;
  margin-top: 1rem;
  margin-left: 4vw;
  margin-right: 4vw;
  height: 80vh;
  overflow-y: auto;
}

.pageContent::-webkit-scrollbar {
  margin-left: 5vw;
  width: 10px;
  border: 1px solid;
}

.pageContent::-webkit-scrollbar-thumb {
  width: 1px;
  border: 1px solid;
}


.screen {
  background-size: cover;
  background-image: radial-gradient(#444, #111);
  background-position: center;
  min-height: 100vh;
  animation: colorPulse 5s infinite ease-in-out;
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size: 1.25rem;
  overflow: hidden;
}

.screen:after {
  position: absolute;
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 10;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: "_";
}

/* Animations */

@keyframes scrollPulse {

  0%,
  100% {
    background-color: rgb(17, 166, 252, 1);
  }

  48%,
  52% {
    background-color: rgba(17, 166, 252, .5);
  }

  50% {
    background-color: rgba(17, 166, 252, .1);
  }
}


@keyframes colorPulse {

  0%,
  100% {
    color: rgb(17, 166, 252, 1);
    border-color: rgba(17, 166, 252, 1);
  }

  48%,
  52% {
    color: rgba(17, 166, 252, .5);
    border-color: rgba(17, 166, 252, .5);
  }

  50% {
    color: rgba(17, 166, 252, .1);
    border-color: rgba(17, 166, 252, .1);

    scrollbar-color: rgba(17, 166, 252, .1);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes imageBlink {
  0% {
    opacity: 100;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);
  }

  10% {
    opacity: 0;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);

  }

  30% {
    opacity: 100;
  }

  48% {
    opacity: 0;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);

  }

  52% {
    opacity: 100;
  }

  50% {
    opacity: 0;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);
  }

  70% {
    opacity: 100;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);    
  }

  100% {
    opacity: 0;
    filter: hue-rotate(170deg) brightness(50%) contrast(105%);    
  }
}

@keyframes bgPulse {

  0%,
  100% {
    background-color: rgba(59, 155, 211, 0.2);
    background-position: 0% 50%;
  }

  48%,
  52% {
    background-color: rgba(2, 102, 148, 0.1);
    background-position: 100% 50%;
  }

  50% {
    background-color: rgba(10, 75, 119, 0);
    background-position: 50% 50%;
  }
}

@keyframes contentShapeExpand {
  0% {
    width: 0vw;
    height: 0vh;
  }

  100% {
    width: 70vw;
    height: 60vh;
  }
}