.shape {
    position: absolute;
    height: 280px;
    width: 220px;
    margin-left: 30px;
    border: 5px solid transparent;
    animation: colorPulse 5s infinite ease-in-out;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    z-index: 1;
}

.profile {
    height: 270px;
    width: 210px;
    animation: imageBlink 5s ease-in-out;  
    filter: hue-rotate(0deg) brightness(60%);
    z-index: 1;
}

.profile:hover {
    filter: hue-rotate(0deg) brightness(100%);
}

.navBar {
    position: absolute;
    margin-left: 250px;    
    height: 65px;
    min-width: 10vw;
    width: 80vw;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-color: transparent;
    animation: colorPulse 5s infinite ease-in-out, bgPulse 5s infinite ease-in-out;
    clip-path: polygon(0% 0, 100% 0, 100% 0%, 98% 100%, 0 100%, 0% 0%);
    z-index: 1;
}