.shape {
    position: absolute;
    height: 280px;
    width: 220px;
    margin-left: 30px;
    border: 5px solid transparent;
    animation: colorPulse 5s infinite ease-in-out;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    z-index: 1;
}

.profile {
    height: 270px;
    width: 210px;
    animation: imageBlink 5s ease-in-out;
    filter: hue-rotate(0deg) brightness(60%);
    z-index: 1;
}

.profile:hover {
    filter: hue-rotate(0deg) brightness(100%);
}

.navBar {
    position: absolute;
    margin-left: 250px;
    height: 65px;
    min-width: 10vw;
    width: 80vw;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-color: transparent;
    animation: colorPulse 5s infinite ease-in-out, bgPulse 5s infinite ease-in-out;
    clip-path: polygon(0% 0, 100% 0, 100% 0%, 98% 100%, 0 100%, 0% 0%);
    z-index: 1;
}

.sideBar {
    height: auto;
    width: 40vw;
    border: 2px solid rgba(17, 166, 252, 1);
    background-color: rgba(28, 74, 100, 0.849);
    border-left: 0;
}

.menuButton {
    position: absolute;
    border-radius: 0;
    margin-top: 50vh;
    background-color: rgba(28, 74, 100, 0.849);
    z-index: 10;
}

.menuHeader {
    margin-top: 0;
    width: 25vw;
    color: rgb(17, 166, 252, 1);    
    border-bottom: 2px solid rgba(17, 166, 252, 1);
}

.menuButtons {
    border-radius: 0;
    transition: transform .3s ease-in-out;
}

.menuButtons:hover {
    transform: scale(1.1);
    background-color: rgba(59, 155, 211, 0.2);    
}