:root {
  --color-primary: #0f2;
  --color-secondary: #090;
  --color-tertiary: #060;
  --color-quaternary: #0c0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.screen {
  color: var(--color-primary);
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  padding: 3vmin;

}

.Header {
  animation: colorPulse 5s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  background: rgba(42, 171, 27, .21);
  border: 3px solid var(--color-primary);
}

.Header > .left-text {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  font-size: 50px;
}

.Header > .right-text {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 32px;
}

.right-text a:link {
  padding-left: 20px;  
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  background-color: var(--color-tertiary);
}

a.active {
  background-color: var(--color-primary);
  color: var(--color-tertiary)
}

.Footer {  
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  color: #0f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer > .outerLine {
  width: 30vw;
}

.Footer > .innerLine {
  width: 10vw;
}

.Footer > hr {
  border-color: var(--color-primary);
}

.Footer > img {
  height: 34px;
  width: 34.88px;
  filter: invert(65%) sepia(10%) saturate(6319%) hue-rotate(80deg) brightness(108%) contrast(126%);
}

.myEmail {
  position: absolute;
  bottom: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;  
}

.myEmail > p:last-child:after {
  content: "";
}

.screen:before {
  animation: wave 10s infinite ease-in-out;
  content: "";
  height: 20vh;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  z-index: 1;
}

.screen:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: "_";
}

@keyframes t {
  from {
    background-size: 0 200%;
  }
}

@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

@keyframes wave {
  0% {
    box-shadow: 0 -10vh 20vh var(--color-quaternary);
    top: -100vh;
  }

  48%,
  52% {
    box-shadow: 0 -10vh 20vh var(--color-secondary);
  }

  50% {
    box-shadow: 0 -10vh 20vh var(--color-tertiary);
  }

  100% {
    box-shadow: 0 -10vh 20vh var(--color-quaternary);
    top: 200vh;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}